<html ng-app="userProfileApp">

<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-controller="UserController" ng-click="">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="images/egen-logo.png" class="logo" />
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:;" ng-click="openDrawer($event)" class="text-orange menu-drawer">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div ui-view></div>
    </div>
    <div class="side-menu" ng-show="isDrawerOpen">
        <span class="pull-right">
            <button type="button" class="btn btn-circle"><span class="glyphicon glyphicon-remove-circle" ng-click="closeDrawer()"></span></button>
        </span>
        <span class="menu-heading">MENU</span>
        <ul>
            <li><a href="/#/users">Users</a></li>
            <li><a href="/#/adduser">Add User</a></li>
        </ul>
    </div>
</body>

</html>